.micropico
.idea/360-Pr0-Test.iml
.idea/micropython-tools-settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.vscode/extensions.json
.vscode/settings.json
